
.novedades {
    margin-bottom: 24px;
    background: var(--brand_100, #F3F8FF);
    color: #47484A;
    font-feature-settings: 'liga' off, 'clig' off;
    
}
    .novedades h2 {
        font-size: 20px;
        margin-bottom: 16px;
        color: #47484A;
    }
    
    .novedades .cards {
        display: flex;
        gap: 24px;
        justify-content: space-between;
        padding-top: 0.5rem;
    }
    .novedades .card {
        background-color:var(--Full-white, #FFF);
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .novedades .card:hover{
        padding-bottom: 0.5rem;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        background: var(--Full-white, #FFF);
        transform: translateY(-0.8rem);
        transition: transform .1s ease-out;     
        /* Elevation 3 - Vega */
        box-shadow: 0px 0px 0px 1px rgba(17, 20, 24, 0.10), 0px 2px 4px 0px rgba(17, 20, 24, 0.20), 0px 8px 24px 0px rgba(17, 20, 24, 0.20);
    }

    .novedades .card img {
        width: 2.5rem;
        height: 2.5rem;
        margin-bottom: 8px;
    }
    .novedades .card h3 {
        color: var(--brand_700, #003893) ;
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.25rem; /* 142.857% */
        letter-spacing: -0.0125rem;
    }
    .p-small {
        color: #47484A;
        margin-bottom: 4px;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.125rem; 
    }

    .p-regular{
        font-family: "OpenSans";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3125rem;
    }
    .novedades .card p-regular{
        color: #374151;
    }
    .novedades .view-all {
        text-align: right;
    }
    .novedades .view-all a {
        color: #003893;
        text-decoration: none;
        align-items: center;
        gap: 0.25rem;
    }

    .novedades .view-all a:hover {
        color: #003893;
        text-decoration: revert;
        align-items: center;
        gap: 0.25rem;
    }