.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }

    .section-header {
        background: var(--brand_100,#F3F8FF);
        padding: 3rem;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .header-nov {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem
    }

    .header-card {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        align-self: stretch;
    }

    .header img {
        width: 3.125rem;
        height: 3.125rem;
    }

    .header h1 {
        font-size: 24px;
        margin-top: 10px;
    }
    .header .icons img {
        font-size: 24px;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 1.5rem;
    }