.footer {
    background: #F3F8FF;
    display: flex;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-shrink: 0;
    padding: 3rem;
}

.footer-link {
    text-decoration: none;
}

.footer-link img {
    margin-left: 0.25rem;
}

.fa-share {
    position: absolute;
    margin-left: 0.25rem;
    width: 1rem;
    height: 1rem;   
}